

.header {
    background: #1F2937; 
    display: flex;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 50px;   

}

.header-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.top-header {
   display: flex;
   align-items: center;    
   justify-content: space-between;
}


.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul, .header-info {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    color: #E5E7EB;
    gap: 20px;
    font-size: 18px;
}

.header-title {
    font-size: 48px;
    color: #F9FAF8;
}

.bottom-header {
   display: flex;
   gap: 100px;
    
    
}

.left-bottom-header {
    width: 400px;
}

.header-image {
    font-size: 18px;
    color:#E5E7EB;
    background: grey;
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background: #3882F6;
    border-radius: 8px;
    color: white;
    margin-top: 16px;
    padding: 8px 20px;
}

.box {
    width: 120px;
    height: 120px;
    border: 2px solid #3882F6;
    border-radius: 10px;
}

.box-image {
    width: 130px;
    display: flex;
    flex-direction: column;
}

.box-container {
    display: flex; 
    gap: 50px;   
}

.body-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    padding-bottom: 32px;
}

.information-header-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding: 32px;
    
}

.body-middle {
    background: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.quote-container {
    width: 750px;
}

.quote {
    font-size: 36px;
    font-style: italic;
}

.quote-footer {
    text-align: right;
}

.call-action-container {
    background: #3882F6;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 600px;
    border-radius: 10px;
    gap: 50px;   
    
}

.body-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.footer {
    background: #1F2937;
    color: white;
    padding: 10px;
    text-align: center;
}

.call-action-title {
    font-size: 20px;
    font-weight: 700;
}

.sign-up {
    border: 2px solid white;
}

