.header {
    background: #1F2937;
    display: flex;
    justify-content: space-around;

}



.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul, .header-info {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    color: #E5E7EB;
    gap: 20px;
    font-size: 18px;
}

.left-header {
    width: 400px;
}

.header-title {
    font-size: 48px;
    color: #F9FAF8;
}

.bottom-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-image {
    font-size: 18px;
    color:#E5E7EB;
    background: grey;
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background: #3882F6;
    border-radius: 8px;
    color: white;
    margin-top: 16px;
    padding: 8px 20px;
}